pipeline/LoadAll.json
{
	"name": "LoadAll",
	"properties": {
		"activities": [
			{
				"name": "Load DWH",
				"description": "Načítání dimenzionálních a faktových tabulek.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetSuccessfulStageAreas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadDwh",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ETLLogID": {
							"value": "@pipeline().parameters.ETLLogID",
							"type": "Expression"
						},
						"Area": {
							"value": "@string(activity('GetSuccessfulStageAreas').output.firstRow.Area)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LoadStage",
				"description": "Načítání stage tabulek.",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadStage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ETLLogID": {
							"value": "@pipeline().parameters.ETLLogID",
							"type": "Expression"
						},
						"Area": {
							"value": "@pipeline().parameters.Area",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ProcessAnalyticalDatabases",
				"description": "Procesování analytických databází.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetSuccessfulDWHAreas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessModels",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Area": {
							"value": "@string(activity('GetSuccessfulDWHAreas').output.firstRow.Area)",
							"type": "Expression"
						},
						"ETLLogID": {
							"value": "@pipeline().parameters.ETLLogID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetSuccessfulStageAreas",
				"description": "Získání seznamu businessových oblastí, pro které nenastala chyba během načítání stage vrstvy.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LoadStage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[p_GetSuccessfulAreaList]",
						"storedProcedureParameters": {
							"ETLLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ETLLogID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dtsDwhMapping",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetSuccessfulDWHAreas",
				"description": "Získání seznamu businessových oblastí, pro které nenastala chyba během načítání dwh vrstvy.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Load DWH",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[p_GetSuccessfulAreaList]",
						"storedProcedureParameters": {
							"ETLLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ETLLogID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dtsDwhMapping",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"ETLLogID": {
				"type": "string"
			},
			"Area": {
				"type": "string"
			}
		},
		"annotations": []
	}
}