pipeline/LoadStageCSV.json
{
	"name": "LoadStageCSV",
	"properties": {
		"activities": [
			{
				"name": "GetStageMapping",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[p_GetStageMapping]",
						"storedProcedureParameters": {
							"Area": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							},
							"SourceDataset": {
								"type": "String",
								"value": "dtsCSVFile"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dtsStageMapping",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoadToStage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetStageMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetStageMapping').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Load Stage Table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetColumnMapping",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "InsertedETLLogID",
											"value": {
												"value": "@pipeline().parameters.ETLLogID",
												"type": "Expression"
											}
										},
										{
											"name": "UpdatedETLLogID",
											"value": {
												"value": "@pipeline().parameters.ETLLogID",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{item().ClearTargetTableQuery}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "AddressID",
												"type": "String"
											},
											"sink": {
												"name": "AddressID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "AddressLine1",
												"type": "String"
											},
											"sink": {
												"name": "AddressLine1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "AddressLine2",
												"type": "String"
											},
											"sink": {
												"name": "AddressLine2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "City",
												"type": "String"
											},
											"sink": {
												"name": "City",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "InsertedETLLogID",
												"type": "String"
											},
											"sink": {
												"name": "InsertedETLLogID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "UpdatedETLLogID",
												"type": "String"
											},
											"sink": {
												"name": "UpdatedETLLogID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "dtsCSVFile",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": "csvsource",
										"Directory": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().SourceTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dtsDwhStage",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().TargetSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TargetTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LogSuccess",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Stage Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[log].[p_UpdateETLTableLoadLog]",
								"storedProcedureParameters": {
									"Deleted": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"ETLTableLoadLogID": {
										"value": {
											"value": "@int(activity('WriteETLTableLoadLogID').output.firstRow.SCOPE_IDENTITY)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Inserted": {
										"value": {
											"value": "@activity('Load Stage Table').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Status": {
										"value": "2",
										"type": "Int32"
									},
									"StatusDescription": {
										"value": "Finished",
										"type": "String"
									},
									"Updated": {
										"value": "0",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "WriteETLTableLoadLogID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[log].[p_WriteETLTableLoadLog]",
									"storedProcedureParameters": {
										"ETLLogID": {
											"type": "Int32",
											"value": {
												"value": "@int(pipeline().parameters.ETLLogID)",
												"type": "Expression"
											}
										},
										"Name": {
											"type": "String",
											"value": {
												"value": "@concat(item().TargetSchema,'.',item().TargetTable)",
												"type": "Expression"
											}
										},
										"NewETLTableLoadLogID": {
											"type": "Int32",
											"value": null
										},
										"Status": {
											"type": "Int32",
											"value": "1"
										},
										"StatusDescription": {
											"type": "String",
											"value": "Running"
										},
										"Type": {
											"type": "String",
											"value": "Copy Data"
										},
										"TargetTableName": {
											"type": "String",
											"value": {
												"value": "@item().TargetTable",
												"type": "Expression"
											}
										},
										"TargetSchemaName": {
											"type": "String",
											"value": {
												"value": "@item().TargetSchema",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dtsStageMapping",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "LogError",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Stage Table",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[log].[p_UpdateETLTableLoadLog]",
								"storedProcedureParameters": {
									"Deleted": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Load Stage Table').Error.Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"ETLTableLoadLogID": {
										"value": {
											"value": "@int(activity('WriteETLTableLoadLogID').output.firstRow.SCOPE_IDENTITY)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Inserted": {
										"value": "0",
										"type": "Int32"
									},
									"Status": {
										"value": "3",
										"type": "Int32"
									},
									"StatusDescription": {
										"value": "Error",
										"type": "String"
									},
									"Updated": {
										"value": "0",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "GetColumnMapping",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "WriteETLTableLoadLogID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[etl].[p_GetColumnMapping]",
									"storedProcedureParameters": {
										"SchemaName": {
											"type": "String",
											"value": {
												"value": "@item().TargetSchema",
												"type": "Expression"
											}
										},
										"TableName": {
											"type": "String",
											"value": {
												"value": "@item().TargetTable",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dtsStageMapping",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ETLLogID": {
				"type": "string",
				"defaultValue": "1"
			},
			"Area": {
				"type": "string",
				"defaultValue": "All"
			}
		},
		"variables": {
			"Throw error": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Stage/CSV"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-03T15:22:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}