pipeline/LoadDwhLayer.json
{
	"name": "LoadDwhLayer",
	"properties": {
		"description": "\n",
		"activities": [
			{
				"name": "Get Dimensions DWH mapping",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[p_GetDwhMapping]",
						"storedProcedureParameters": {
							"Area": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							},
							"Layer": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Layer",
									"type": "Expression"
								}
							},
							"TableType": {
								"type": "String",
								"value": "Dimension"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dtsDwhMapping",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load Dimensions",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Dimensions DWH mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Dimensions DWH mapping').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Load dimension",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().LoadingProcedureName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"ETLLog_SK": {
										"value": {
											"value": "@int(pipeline().parameters.ETLLogInsertedID)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get Facts DWH mapping",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Load Dimensions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[p_GetDwhMapping]",
						"storedProcedureParameters": {
							"Area": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							},
							"Layer": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Layer",
									"type": "Expression"
								}
							},
							"TableType": {
								"type": "String",
								"value": "Fact"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dtsDwhMapping",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load Facts",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Facts DWH mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Facts DWH mapping').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Load Fact",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().LoadingProcedureName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"ETLLog_SK": {
										"value": {
											"value": "@int(pipeline().parameters.ETLLogInsertedID)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Layer": {
				"type": "string",
				"defaultValue": "1"
			},
			"Area": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"ETLLogInsertedID": {
				"type": "string",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "Dwh"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-03T15:22:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}