pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"activities": [
			{
				"name": "Load DWH",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LoadStage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadDwh",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ETLLogID": {
							"value": "@pipeline().parameters.Area",
							"type": "Expression"
						},
						"Area": {
							"value": "@pipeline().parameters.Area",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LoadStage",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AssignETLLogIDToVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadStage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ETLLogID": {
							"value": "@variables('ETLLogID')",
							"type": "Expression"
						},
						"Area": {
							"value": "@pipeline().parameters.Area",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "WriteETLLog",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[log].[p_WriteETLLog]",
						"storedProcedureParameters": {
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerTime": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "Int32",
								"value": "1"
							},
							"StatusDescription": {
								"type": "String",
								"value": "Running"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dtsStageMapping",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "AssignETLLogIDToVariable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WriteETLLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ETLLogID",
					"value": {
						"value": "@string(activity('WriteETLLog').output.firstRow.SCOPE_IDENTITY)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ProcessAnalyticalDatabases",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load DWH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessModels",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "GetETLStatus",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ProcessAnalyticalDatabases",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[log].[p_GetLogStatus]",
						"storedProcedureParameters": {
							"ETLLogID": {
								"type": "Int32",
								"value": {
									"value": "@variables('ETLLogID')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dtsDwhMapping",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetETLStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetETLStatus').output.firstRow.logStatus, 1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Stored procedure1_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[log].[p_UpdateETLLog]",
								"storedProcedureParameters": {
									"ETLLogID": {
										"value": {
											"value": "@variables('ETLLogID')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Status": {
										"value": "3",
										"type": "Int32"
									},
									"StatusDescription": {
										"value": "Error",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[log].[p_UpdateETLLog]",
								"storedProcedureParameters": {
									"ETLLogID": {
										"value": {
											"value": "@variables('ETLLogID')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Status": {
										"value": "2",
										"type": "Int32"
									},
									"StatusDescription": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Area": {
				"type": "string",
				"defaultValue": "All"
			}
		},
		"variables": {
			"ETLLogID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}