pipeline/ProcessModel.json
{
	"name": "ProcessModel",
	"properties": {
		"activities": [
			{
				"name": "UntilRefreshComplete",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "FilterToCurrentRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('GetAzureASRefreshStatus').output.status,'inProgress'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetAzureASRefreshStatus",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait30Seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes/',activity('FilterToCurrentRefresh').output.Value[0].refreshId)",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://*.asazure.windows.net"
								}
							}
						},
						{
							"name": "Wait30Seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "StartProcessingAzureAS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "WriteETLTableLoadLogID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"Type": "Full",
						"CommitMode": "transactional",
						"MaxParallelism": 10,
						"RetryCount": 2
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "IfFailed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "UntilRefreshComplete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetAzureASRefreshStatus').output.status,'failed')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "LogSuccess",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[log].[p_UpdateETLTableLoadLog]",
								"storedProcedureParameters": {
									"Deleted": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"ETLTableLoadLogID": {
										"value": {
											"value": "@int(activity('WriteETLTableLoadLogID').output.firstRow.SCOPE_IDENTITY)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Inserted": {
										"value": "0",
										"type": "Int32"
									},
									"Status": {
										"value": "2",
										"type": "Int32"
									},
									"StatusDescription": {
										"value": "Finished",
										"type": "String"
									},
									"Updated": {
										"value": "0",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "LogError",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[log].[p_UpdateETLTableLoadLog]",
								"storedProcedureParameters": {
									"Deleted": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"ETLTableLoadLogID": {
										"value": {
											"value": "@int(activity('WriteETLTableLoadLogID').output.firstRow.SCOPE_IDENTITY)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Inserted": {
										"value": "0",
										"type": "Int32"
									},
									"Status": {
										"value": "3",
										"type": "Int32"
									},
									"StatusDescription": {
										"value": "Error",
										"type": "String"
									},
									"Updated": {
										"value": "0",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "GetAzureASRefreshes",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "StartProcessingAzureAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
						"type": "Expression"
					},
					"method": "GET",
					"body": {
						"Type": "Full",
						"CommitMode": "transactional",
						"MaxParallelism": 10,
						"RetryCount": 2
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "FilterToCurrentRefresh",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetAzureASRefreshes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('GetAzureASRefreshes').output.Response)",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(item().startTime,addseconds(activity('StartProcessingAzureAS').output.startTime,-30))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WriteETLTableLoadLogID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[log].[p_WriteETLTableLoadLog]",
						"storedProcedureParameters": {
							"ETLLogID": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.ETLLogID)",
									"type": "Expression"
								}
							},
							"Name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DatabaseName",
									"type": "Expression"
								}
							},
							"NewETLTableLoadLogID": {
								"type": "Int32",
								"value": null
							},
							"Status": {
								"type": "Int32",
								"value": "1"
							},
							"StatusDescription": {
								"type": "String",
								"value": "Running"
							},
							"Type": {
								"type": "String",
								"value": "Process"
							},
							"TargetTableName": {
								"type": "String",
								"value": null
							},
							"TargetSchemaName": {
								"type": "String",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dtsStageMapping",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"TenantID": {
				"type": "String",
				"defaultValue": "6e0a5f83-1728-4956-bdf4-ce37760cd214"
			},
			"SubscriptionID": {
				"type": "String",
				"defaultValue": "c87e9a49-c82c-4d59-ba82-f4a80d29bb92"
			},
			"Region": {
				"type": "String",
				"defaultValue": "westeurope"
			},
			"Server": {
				"type": "String",
				"defaultValue": "azuredwhframework"
			},
			"DatabaseName": {
				"type": "String",
				"defaultValue": "AAS_Sales"
			},
			"ETLLogID": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"folder": {
			"name": "Azure AS"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-03T15:22:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}